.node {
    background-color: white;
    width: 15px;
    height: 15px;
    border-right: 1px solid rgb(175, 200, 250);
    border-bottom: 1px solid rgb(175, 200, 250);
    margin: 0;
}

.weight-1 {
  background-color: white;
}

.weight-Infinity {
  background-color: #3b3b3b;
  border-color: #606060;
  animation: nodeGrowEnter 0.1s;
}

.last-row {
    border-bottom: 0px;
}

.last-column {
  border-right: 0px;
}
  
.node-finish {
  background-color: red;
  border-color: #fe6e6e;
  animation: nodeGrowEnter 0.1s;
}
  
.node-start {
  background-color: green;
  border-color: #16a716;
  animation: nodeGrowEnter 0.1s;
}

.node-start-selected {
  background-color: green;
  border-color: #16a716;
  transform: scale(0.6);
}

@keyframes nodeGrowEnter {
  from { transform: scale(0.4); }
  to { transform: scale(1); }
}