.node {
    position: relative;
    background-color: white;
    width: 10px;
    height: 10px;
    border-right: 1px solid rgb(175, 200, 250);
    border-bottom: 1px solid rgb(175, 200, 250);
    margin: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.node:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
}

.visiting {
  box-shadow: inset 0 0 0 1000px rgba(215, 69, 255, 0.5);
}

.visited {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 195, 255, 0.35);
  border-right: 1px solid rgba(0, 195, 255, 0.10);
  border-bottom: 1px solid rgba(0, 195, 255, 0.10);
  animation: visitNode 100ms;
  z-index: 1;
}

@keyframes visitNode {
  0% { 
    transform: scale(0.5);
    border-radius: 25px;
  }
  100% {
    transform: scale(1);
    border-radius: 0px;
   }
}

.shortest-path {
  position: absolute;
  background-color: rgb(255, 0, 0);
  z-index: 1;
}

.shortest-path-top {
  top: 0;
  left: 2px;
  width: 6px;
  height: 7px;
}

.shortest-path-bottom {
  top: 3px;
  left: 2px;
  width: 6px;
  height: 8px;
}

.shortest-path-left {
  top: 2px;
  left: 0px;
  width: 8px;
  height: 6px;
}

.shortest-path-right {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 6px;
}

.weight-1 {
  background-color: white;
}

.weight-2 {
  background-color: #d7bd87;
  border-color: #b8a682;
  /* animation: nodeGrowEnter 100ms; */
}

.weight-5 {
  background-color: #78e18e;
  border-color: #27d54c;
  /* animation: nodeGrowEnter 100ms; */
}

.weight-10 {
  background-color: #f7c65b;
  border-color: #d3a540;
  /* animation: nodeGrowEnter 100ms; */
}

.weight-15 {
  background-color: #0069d9;
  border-color: #00458f;
  /* animation: nodeGrowEnter 100ms; */
}

.weight-Infinity {
  background-color: #3b3b3b;
  border-color: #606060;
  /* animation: nodeGrowEnter 100ms; */
}

.last-row {
    border-bottom: 0px;
}

.last-column {
  border-right: 0px;
}
  
.node-finish {
  background-color: red;
  border-color: #fe6e6e;
  animation: nodeGrowEnter 100ms;
  cursor: cell;
}
  
.node-start {
  background-color: green;
  border-color: #16a716;
  animation: nodeGrowEnter 100ms;
  cursor: cell;
}

.selected-start-hover {
  background-color: green;
  border-color: #16a716;
  opacity: 0.7;
}

.selected-finish-hover {
  background-color: red;
  border-color: #fe6e6e;
  opacity: 0.7;
}

@keyframes nodeGrowEnter {
  from { 
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}