#sortcontestheader {
    background-color: #e6e6e6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
    padding-top :5px;
    padding-bottom: 5px;
}

#randomizebutton {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#randomizebutton:hover {
    background-color: #0069d9;
}

#randomizebutton:disabled,
#randomizebutton[disabled] {
    background-color: #00458f;
}

#nearlysortedbutton {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#nearlysortedbutton:hover {
    background-color: #0069d9;
}

#nearlysortedbutton:disabled,
#nearlysortedbutton[disabled] {
    background-color: #00458f;
}

#startcontestbutton {
    background-color: #1ea33b;
    border: none;
    color: white;
    width: 170px;
    /* padding-left: 55px;
    padding-right: 55px; */
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#startcontestbutton:hover {
    background-color: #118c2b;
}

#startcontestbutton:disabled,
#startcontestbutton[disabled] {
    background-color: #0e7424;
}

#skip-to-finish-button {
    background-color: #1ea33b;
    float: right;
    border: none;
    color: white;
    width: 19%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#skip-to-finish-button:hover {
    background-color: #118c2b;
}

#skip-to-finish-button:disabled,
#skip-to-finish-button[disabled] {
    background-color: #0e7424;
}

#num-of-contestants-label {
    display: inline-block;
    background-color: #6c757d;
    border: none;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#add-contestant-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#add-contestant-button:hover {
    background-color: #0069d9;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .sort-visualizers {
    padding-top: 45px;
}

@media only screen and (max-width: 752px) {
    #nearlysortedbutton {
        margin: 0 0.5%;
        width: 24%;
    }

    #startcontestbutton {
        margin: 0 0.5%;
        width: 24%;
    }

    #randomizebutton {
        margin: 0 0.5%;
        width: 24%;
    }

    #skip-to-finish-button {
        margin: 0 0.5%;
        width: 24%;
    }
}