#sortcontestheader {
    background-color: #e6e6e6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top :5px;
    padding-bottom: 5px;
}

#randomizebutton {
    background-color: #007bff;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 7px;
    margin-bottom: 2px;
}

#randomizebutton:hover {
    background-color: #0069d9;
}

#randomizebutton:disabled,
#randomizebutton[disabled] {
    background-color: #00458f;
}

#nearlysortedbutton {
    background-color: #007bff;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 7px;
    margin-bottom: 2px;
}

#nearlysortedbutton:hover {
    background-color: #0069d9;
}

#nearlysortedbutton:disabled,
#nearlysortedbutton[disabled] {
    background-color: #00458f;
}

#startcontestbutton {
    background-color: #1ea33b;
    border: none;
    color: white;
    width: 224px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#startcontestbutton:hover {
    background-color: #0e7424;
}

#startcontestbutton:disabled,
#startcontestbutton[disabled] {
    background-color: #0e7424;
}