.sort-visualizer {
    white-space: nowrap;
    background-color: #f7f7f7;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    border-color: white;
    height: 163px;
    margin-left: 2px;
}

.array-container {
    position: absolute;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
 
[class*="array-bar-"] {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.pivot-line {
  border: 0;
  position: absolute;
  background-color: red;
  z-index: 1;
  height: 1px;
  visibility: visible;
}

.place-label {
  background-color: #636363;
  z-index: 1;
  width: 80px;
  text-align: center;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin: 0px 4px;
  display: inline-block;
  border-radius: 0px 5px 5px 0px; 
  color: white;
  text-align: center;
}

.stats-label {
  background-color: #3b3b3b;
  z-index: 2;
  float: right;
  width: 390px;
  text-align: center;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin: 0px 7px;
  border-style: hidden hidden hidden solid;
  border-width: 10px;
  border-radius: 4px;
  color: white;
  animation: fadein 0.4s;
}

#remove-button {
  background-color: #dc3545;
  border-radius: 4px;
  float: right;
  border: none;
  color: white;
  padding-left: 10px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  transition-duration: 0.2s;
  margin: 0px 15px;
  animation: fadein 0.4s;
}

#remove-button:hover {
  background-color: #c82333
}

#remove-button:disabled,
#remove-button[disabled] {
  display: none;
}

/* Algorithm Selection Dropdown Styling */

#algorithm-dropdown-label {
  display: inline-block;
  transition-duration: 0.3s;
  background-color: #3b3b3b;
  text-align: center;
  color: white;
  width: 95px;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.dropdown-arrow {
  float: right;
  font-size: 11pt;
  font-size: 9;
  transition-duration: 0.3s;
  background-color: transparent;
  text-align: center;
  color: white;
  padding: 0;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#algorithm-dropdown-label:hover {
  background-color: rgb(36, 36, 36);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 115px;
  margin: 0px;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  background-color: #f8f9fa;
  text-align: center;
  border: none;
  width: 115px;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: block;
}


.algorithm-dropdown-button:disabled,
.algorithm-dropdown-button[disabled] {
  display:none;
}

.dropdown-content button:hover {
  background-color: #e2e6ea;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media only screen and (max-width: 752px) {
  .stats-label {
    width: 295px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 0px;
  }

  .place-label {
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 530px) {
  .stats-label {
    margin: 5px;
    float: left;
    border-style: hidden solid hidden hidden;
  }
}

@media only screen and (max-width: 480px) {
  .dropdown-content button {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}