#sortcontestheader {
    background-color: #e6e6e6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top :5px;
    padding-bottom: 5px;
}

#randomizebutton {
    /* background-color: #0084ff; */
    background-color: #3b3b3b;
    border: none;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 7px;
    margin-bottom: 2px;
}

#randomizebutton:hover {
    /* background-color: #318fac; */
    background-color: black;
}

#nearlysortedbutton {
    background-color: #3b3b3b;
    border: none;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 7px;
    margin-bottom: 2px;
}

#nearlysortedbutton:hover {
    background-color: black;
}

#startcontestbutton {
    background-color: #1ea33b;
    border: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#startcontestbutton:hover {
    background-color: #0e7424;
}

#logconteststatebutton {
    display: inline-block;
    background-color: #e28d3d;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin: 4px;
}