#sort-visualizer-1, #sort-visualizer-2, #sort-visualizer-3, #sort-visualizer-4,
#sort-visualizer-5, #sort-visualizer-6, #sort-visualizer-7 {
    white-space: nowrap;
    background-color: #f7f7f7;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    border-color: white;
    height: 163px;
    margin-left: 2px;
}

/* Algorithm Selection Dropdown Styling */

#algorithm-dropdown-label {
    display: inline-block;
    transition-duration: 0.3s;
    background-color: #3b3b3b;
    text-align: center;
    color: white;
    width: 70px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 4px;
    padding-right: 15px;
    padding-bottom: 4px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#algorithm-dropdown-label:hover {
  background-color: rgb(36, 36, 36);
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    margin: 0px;
    z-index: 1;
  }
  
.dropdown-content button {
    color: black;
    text-align: center;
    border: none;
    width: 100px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
  }


  .algorithm-dropdown-button:disabled,
  .algorithm-dropdown-button[disabled] {
    display:none;
  }
  
.dropdown-content button:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* End Of Algorithm Selection Dropdown Styling */

#array-container-1, #array-container-2, #array-container-3, #array-container-4,
#array-container-5, #array-container-6, #array-container-7 {
    position: absolute;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
  
.array-bar-1, .array-bar-2, .array-bar-3, .array-bar-4,
.array-bar-5, .array-bar-6, .array-bar-7 {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.pivot-line {
  border: 0;
  position: absolute;
  background-color: red;
  z-index: 1;
  height: 1px;
  visibility: visible;
}

.place-label {
  background-color: #636363;
  z-index: 1;
  width: 80px;
  text-align: center;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin: 0px 4px;
  display: inline-block;
  border-radius: 0px 5px 5px 0px; 
  color: white;
  text-align: center;
}

.stats-label {
  background-color: #3b3b3b;
  z-index: 1;
  float: right;
  width: 390px;
  text-align: center;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin: 0px 7px;
  border-style: hidden hidden hidden solid;
  border-width: 10px;
  border-radius: 4px;
  color: white;
}