#sortvisualizer {
    background-color: #e6e6e6;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    border-color: white;
}

#algorithmlabel {
    display: inline-block;
    background-color: #3b3b3b;
    color: white;
    width: 70px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#logvisualizerstatebutton {
    margin-left: 15px;
}