html, body {
    margin-top: 0;
    margin-bottom: 0; 
    margin-left: 0;
    margin-right: 0;
}

#algocontestheader {
    background-color:rgba(46, 44, 44, 0.925);
    margin-top: 0;
    margin-bottom: 0;
    padding-top :0;
    padding-bottom: 5px;
    padding-left: 5px;
}

#algocontestheader a:link,
#algocontestheader a:visited,
#algocontestheader a:hover {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: left;
    text-decoration: none;
}

.menubutton {
    background-color: #318fac;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    transition-duration: 0.7s;
    border-radius: 10px;

    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    width: 95%;
}

.menubutton:hover {
    background-color: #2c2381;
}