#pathfinding-contest-header {
    background-color: #e6e6e6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2;
    padding-top :5px;
    padding-bottom: 5px;
}

#path-start-contest-button {
    background-color: #1ea33b;
    border: none;
    color: white;
    float: left;
    width: 170px;
    width: 17%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 2px;
    margin-right: 0.25%;
    margin-top: 2px;
    margin-left: 0.5%;
    margin-bottom: 2px;
}

#path-start-contest-button:hover {
    background-color: #118c2b;
}

#path-start-contest-button:disabled,
#path-start-contest-button[disabled] {
    background-color: #0e7424;
}

#path-add-contestant-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    width: 12%;
    margin-left: 0.25%;
    margin-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 2px 0px 0px 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#path-add-contestant-button:hover {
    background-color: #0069d9;
}

#path-add-contestant-button:disabled,
#path-add-contestant-button[disabled] {
    background-color: #00458f;
}

#path-num-of-contestants-label {
    display: inline-block;
    background-color: #5a6268;
    border: none;
    color: white;
    width: 1%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 0px 2px 2px 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0.5%;
}

#path-skip-to-finish-button {
    background-color: #1ea33b;
    display: inline-block;
    border: none;
    color: white;
    width: 15.5%;
    margin-left: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 2px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#path-skip-to-finish-button:hover {
    background-color: #118c2b;
}

#path-skip-to-finish-button:disabled,
#path-skip-to-finish-button[disabled] {
    background-color: #0e7424;
}

/* Reset grid dropdown styling */

#reset-grid-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    width: 100%;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#reset-grid-button:hover {
    background-color: #0069d9;
}

#reset-grid-button:disabled,
#reset-grid-button[disabled] {
    background-color: #00458f;
}

#reset-grid-button-text {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#reset-grid-dropdown-arrow {
    background-color: transparent;
    border-left: 1px solid white;
    color: white;
    float: right;
    padding: 9px 9px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#reset-grid-dropdown {
    display: inline-block;
    width: 14.6%;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.reset-grid-dropdown-button {
    color: black;
    width: 100%;
    background-color: white;
    text-align: center;
    border-top: none;
    border-left: 1px solid rgb(164, 164, 164);
    border-right: 1px solid rgb(164, 164, 164);
    border-bottom: 1px solid rgb(164, 164, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
}

.reset-grid-dropdown-button:hover {
    background-color: #e2e6ea;
}

#reset-grid-dropdown-content {
    display: block;
    width: 14.6%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    position: absolute;
    background-color: #f1f1f1;
    margin: 0px;
    z-index: 2;
}

/* Mazes and maps dropdown styling */

#mazes-and-maps-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    width: 100%;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#mazes-and-maps-button:hover {
    background-color: #0069d9;
}

#mazes-and-maps-button:disabled,
#mazes-and-maps-button[disabled] {
    background-color: #00458f;
}

#mazes-and-maps-button-text {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#mazes-and-maps-dropdown-arrow {
    background-color: transparent;
    border-left: 1px solid white;
    color: white;
    float: right;
    padding: 9px 9px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#mazes-and-maps-dropdown {
    display: inline-block;
    width: 14.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.mazes-and-maps-dropdown-button {
    color: black;
    width: 100%;
    background-color: white;
    text-align: center;
    border-top: none;
    border-left: 1px solid rgb(164, 164, 164);
    border-right: 1px solid rgb(164, 164, 164);
    border-bottom: 1px solid rgb(164, 164, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
}

.mazes-and-maps-dropdown-button:hover {
    background-color: #e2e6ea;
}

#mazes-and-maps-dropdown-content {
    display: block;
    width: 14.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    position: absolute;
    background-color: #f1f1f1;
    margin: 0px;
    z-index: 2;
}

/* Node Selection Button Dropdown Styling */

#selected-node-display-container {
    float: left;
    background-color: white;
    border: 1px solid rgb(164, 164, 164);
    width: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#selected-node-display {
    width: 15px;
    height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
}

.display-node-Weight-Inf {
    background-color: #3b3b3b;
    border: 1px solid #606060;
}

.display-node-Weight-1 {
    background-color: white;
    border: 1px solid rgb(175, 200, 250);
}

.display-node-Weight-2 {
    background-color: #d7bd87;
    border: 1px solid #b8a682;
}

.display-node-Weight-5 {
    background-color: #78e18e;
    border: 1px solid #27d54c;
}

.display-node-Weight-10 {
    background-color: #f7c65b;
    border: 1px solid #d3a540;
}

.display-node-Weight-25 {
    background-color: #0077f7;
    border: 1px solid #0069d9;
}

#node-selection-dropdown-button-node-type-name {
    float: left;
    margin-left: 5%;
    text-align: center;
    width: 35%;
}

#node-selection-dropdown-button-node-type-weight {
    float: right;
    text-align: center;
    width: 45%;
}

#select-node-type-dropdown {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 20%;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

#select-node-type-dropdown-button {
    display: inline-block;
    background-color: #007bff;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    color: white;
    padding: 0px;
    margin-bottom: 0px;
    transition-duration: 0.4s;
    border-radius: 0px 2px 2px 0px;
}

#select-node-type-dropdown-button:hover {
    background-color: #0069d9;
}

#select-node-type-dropdown-button:disabled,
#select-node-type-dropdown-button[disabled] {
    background-color: #00458f;
}

#select-node-type-button-text {
    background-color: transparent;
    border: none;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

#node-selection-dropdown-arrow {
    background-color: transparent;
    border-left: 1px solid white;
    color: white;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 0px 2px 2px 0px;
    padding: 9px 9px;
    margin: 0px;
}

#node-selection-dropdown-content {
    display: block;
    width: 20%;
    position: absolute;
    background-color: #f1f1f1;
    margin: 0px;
    z-index: 2;
}

#node-selection-dropdown-button {
    color: black;
    width: 100%;
    background-color: white;
    text-align: center;
    border-top: none;
    border-left: 1px solid rgb(164, 164, 164);
    border-right: 1px solid rgb(164, 164, 164);
    border-bottom: 1px solid rgb(164, 164, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
}

#node-selection-dropdown-button:hover {
    background-color: #e2e6ea;
}
/* End Of Node Selection Button Dropdown Styling */

.path-remove-element-animation-stand-in {
    white-space: nowrap;
    background-color: white;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    border-color: white;
    height: 205px;
    margin-left: 2px;
    cursor: default;
    z-index: -1;
    animation: path-remove-element-slide 0.8s;
}

@keyframes path-remove-element-slide {
    from { height: 205px; }
    to   { height: 0px; }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #pathfinding-visualizers {
    padding-top: 49px;
}

@media only screen and (max-width: 1000px) {
    #reset-grid-dropdown-arrow {
        padding: 9px 4px;
    }

    #mazes-and-maps-dropdown-arrow {
        padding: 9px 4px;
    }

    #node-selection-dropdown-arrow {
        padding: 9px 4px;
    }
}

@media only screen and (max-width: 900px) {
    #pathfinding-contest-header {
        display: flex;
        flex-wrap: wrap;
    }

    #reset-grid-dropdown-arrow {
        padding: 9px 9px;
    }

    #mazes-and-maps-dropdown-arrow {
        padding: 9px 9px;
    }

    #node-selection-dropdown-arrow {
        padding: 9px 9px;
    }

    #path-start-contest-button {
        order: 1;
        margin: 0 0.665%;
        width: 29%;
    }

    #path-add-contestant-button {
        order: 3;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.665%;
        width: 29%;
    }

    #path-num-of-contestants-label {
        order: 4;
        width: 4%;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1%;
        padding-right: 1%;
    }

    #path-skip-to-finish-button {
        order: 2;
        margin: 0 0.665%;
        width: 32%;
        float: none;
    }

    #reset-grid-dropdown {
        order: 5;
        margin: 0 0.665%;
        width: 29%;
        padding-top: 2px;
    }

    #reset-grid-dropdown-content {
        width: 29%;
    }

    #mazes-and-maps-dropdown {
        order: 6;
        margin: 0 0.665%;
        width: 32%;
        padding-top: 2px;
    }

    #mazes-and-maps-dropdown-content {
        width: 32%;
    }

    #select-node-type-dropdown {
        order: 7;
        margin: 0 0.665%;
        margin-top: 4px;
        width: 35%;
    }

    #node-selection-dropdown-content {
        width: 35%;
    }

    .sticky + #pathfinding-visualizers {
        padding-top: 84px;
    }
}

@media only screen and (max-width: 600px) {
    #reset-grid-dropdown-arrow {
        padding: 9px 5px;
    }

    #mazes-and-maps-dropdown-arrow {
        padding: 9px 5px;
    }

    #node-selection-dropdown-arrow {
        padding: 9px 5px;
    }
}

@media only screen and (max-width: 500px) {
    #path-start-contest-button {
        margin: 0 0.665%;
        width: 24%;
    }

    #path-skip-to-finish-button {
        order: 2;
        width: 34%;
    }

    #path-add-contestant-button {
        width: 32%;
    }

    #reset-grid-dropdown {
        width: 24%;
    }

    #reset-grid-dropdown-content {
        width: 24%;
    }

    #mazes-and-maps-dropdown {
        width: 34%;
    }

    #mazes-and-maps-dropdown-content {
        width: 34%;
    }

    #select-node-type-dropdown {
        width: 38%;
    }

    #node-selection-dropdown-content {
        width: 38%;
    }

}