#sort-contest-header {
    background-color: #e6e6e6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
    padding-top :5px;
    padding-bottom: 5px;
}

#sort-start-contest-button {
    background-color: #1ea33b;
    border: none;
    color: white;
    float: left;
    width: 170px;
    width: 17%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 0.25%;
    margin-top: 2px;
    margin-left: 0.25%;
    margin-bottom: 2px;
}

#sort-start-contest-button:hover {
    background-color: #118c2b;
}

#sort-start-contest-button:disabled,
#sort-start-contest-button[disabled] {
    background-color: #0e7424;
}

#randomize-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    width: 17%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#randomize-button:hover {
    background-color: #0069d9;
}

#randomize-button:disabled,
#randomize-button[disabled] {
    background-color: #00458f;
}

#nearly-sorted-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    width: 20%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#nearly-sorted-button:hover {
    background-color: #0069d9;
}

#nearly-sorted-button:disabled,
#nearly-sorted-button[disabled] {
    background-color: #00458f;
}

#sort-add-contestant-button {
    background-color: #007bff;
    display: inline-block;
    border: none;
    color: white;
    width: 12%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    /* margin-right: 4px; */
    margin-top: 2px;
    /* margin-left: 4px; */
    margin-bottom: 2px;
}

#sort-add-contestant-button:hover {
    background-color: #0069d9;
}

#sort-add-contestant-button:disabled,
#sort-add-contestant-button[disabled] {
    background-color: #00458f;
}

#sort-num-of-contestants-label {
    display: inline-block;
    background-color: #5a6268;
    border: none;
    color: white;
    width: 16%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#sort-skip-to-finish-button {
    background-color: #1ea33b;
    float: right;
    border: none;
    color: white;
    width: 15%;
    margin-left: 0.25%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 1px;
    margin-right: 0.25%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#sort-skip-to-finish-button:hover {
    background-color: #118c2b;
}

#sort-skip-to-finish-button:disabled,
#sort-skip-to-finish-button[disabled] {
    background-color: #0e7424;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .sort-visualizers {
    padding-top: 50px;
}

.remove-element-animation-stand-in {
    white-space: nowrap;
    background-color: white;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    border-color: white;
    height: 163px;
    margin-left: 2px;
    z-index: -1;
    animation: remove-element-slide 0.8s;
}

@keyframes remove-element-slide {
    from { height: 163px; }
    to   { height: 0px; }
  }

@media only screen and (max-width: 752px) {
    #nearly-sorted-button {
        margin: 0 0.665%;
        width: 32%;
    }

    #sort-start-contest-button {
        display: inline-block;
        margin: 2px 0.665%;
        width: 32%;
    }

    #randomize-button {
        margin: 0 0.665%;
        width: 32%;
    }

    #sort-skip-to-finish-button {
        display: inline-block;
        float: none;
        width: 32%;
        margin: 2px 0.665%;
    }

    #sort-add-contestant-button {
        width: 32%;
        margin: 2px 0.665%
    }

    #sort-num-of-contestants-label {
        float: right;
        margin: 2px 0.665%;
        width: 32%;
    }

    .sticky + .sort-visualizers {
        padding-top: 88px;
    }
}